letsenroll.freya02.dev {
	handle /api/* {
	    reverse_proxy letsenroll-api:16423
	}

	handle /oauth2/* {
	    reverse_proxy letsenroll-api:16423
	}

	handle /login/* {
	    reverse_proxy letsenroll-api:16423
	}

	handle /logout {
	    reverse_proxy letsenroll-api:16423
	}

	handle {
	    # Redirect everything to /, fixes SPAs as the router handles by itself
  		try_files {path} /
  		# Serve frontend as static files
		root * /srv/letsenroll
		file_server
	}
}